body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.cont {
    width: 400px; height: 250px;
    background-color: red; 
}
.container2 {
    text-align: center;
}
input {
    margin: 10px 0;
}